*{
    margin: 0;
    padding: 0;
}
header{
    background-color: mediumblue;
    text-align: center;
    font-weight: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-weight: bolder;
}
img{
    width: 600px;
    height: 500px;
}